<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sahasu.lazypizza">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:label="LazyPizza" android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" android:theme="@style/AppTheme.TransNav"  android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MarketPlaceOrder" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".Menu_PlaceOrder" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".GoogleLogin" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".PhoneNumber" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".MyOrders" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".orderDetails" android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".MyBalance" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".SplashScreen" android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Current_Delivery" android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <service android:name=".MyFirebaseMessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FirebaseIDService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <activity android:name=".ProfilePage" android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>